@tailwind base;

@layer base {
  ::selection {
    background-color: #79ffe1;
    color: #000;
  }

  body,
  html {
    /* Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom */
    touch-action: manipulation;
  }

  html {
    min-width: 360px;
    height: 100%;
    text-rendering: optimizeLegibility;
    @apply scroll-smooth antialiased;
  }

  body {
    @apply w-screen overflow-x-hidden bg-white text-base text-slate-900 dark:bg-black dark:text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply relative text-black dark:text-white;
  }

  hr {
    @apply border-slate-200 dark:border-slate-800;
  }
}
