@tailwind base;

@layer base {
  ::selection {
    background-color: #79ffe1;
    color: #000;
  }

  body,
  html {
    /* Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom */
    touch-action: manipulation;
  }

  html {
    min-width: 360px;
    height: 100%;
    @apply scroll-smooth;
  }

  body {
    @apply w-screen overflow-x-hidden bg-white text-base text-slate-800 dark:bg-black dark:text-slate-300;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply relative whitespace-pre-wrap font-display text-black dark:text-slate-200;
  }

  p {
    letter-spacing: -0.02rem;
  }

  hr {
    @apply border-slate-200 dark:border-slate-800;
  }
}
